.header__logo {
  background: url(../../../images/header-logo.svg);
  width: 142px;
  height: 33px;
  padding: 0;
  margin: 0;
  margin-bottom: 41px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 620px) {
  .header__logo {
    margin-left: 27px;
    margin-bottom: 31px;
    width: 104px;
    height: 25px;
  }
}
